/* style the button tag */
div.wl-formbuttons button {
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

div#ratingsratecontent h3, label {
    display: none;
}

.wl-linkbox {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D9DCC2;
}

.wl-borderbox {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D9DCC2;
}

.mostpopularweblinks li, .lastweblinks li {
    list-style-type:decimal
    display:block;
    padding:2px;
    margin-bottom:2px;
}
.mostpopularweblinks li a, .lastweblinks li a{font-weight:bold; text-decoration:none;}
.mostpopularweblinks li a:hover, .lastweblinks li a:hover{text-decoration:none;}
.mostpopularweblinks li ul, .lastweblinks li ul{margin:3px 0 3px 10px; font-size:1em; font-weight:normal;}
.mostpopularweblinks li ul li, .lastweblinks li ul li{margin-bottom:0;}
.mostpopularweblinks li ul a, .lastweblinks li ul a{font-weight:normal;}

.tb {
    display: table;
    width: 100%;
}
.tb>div {
    display: table-row;
}
.tb>div>div {
    display: table-cell;
    width: 95%;
}